.team-wrapper{
    width: 80%;
    margin: 0rem auto;
}

.team-wrapper .paragraph-version-01{
    padding: 0rem 30%;
}

.team-card-cantainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    margin-top: 6rem;
}

.team-card img{
    width: 100%;
    border-radius: 0.6rem;
}

.team-card .team-card-title{
    color: var(--Charcoal);
    font-family: 'Epilogue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6em;
    letter-spacing: 0.02em;
    margin-top: 2rem;
}

.team-card .item-version-01{
    opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
    

    .team-wrapper{
        width: 90%;
    }

    .team-card .team-card-title{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 900px) {

    .team-card-cantainer{
        grid-template-columns: repeat(3, 1fr);
    }

    .team-wrapper .paragraph-version-01{
        padding: 0rem 20%;
    }

}

@media only screen and (max-width: 634px) {

    .team-wrapper .paragraph-version-01{
        padding: 0rem 15%;
    }

    .team-card-cantainer{
        grid-template-columns: repeat(2, 1fr);
    }

    .team-wrapper{
        width: 86%;
    }


}

@media only screen and (max-width: 450px) {

    .team-wrapper .paragraph-version-01{
        padding: 0rem 10%;
    }

    .team-card-cantainer{
        grid-template-columns: repeat(1, 1fr);
    }

}





