.brands-wrapper{
    width: 60%;
    margin: 0rem auto;
    text-align: center;
}

.brands-heading{
    color: var(--Charcoal);
    font-family: 'Epilogue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6em;
    letter-spacing: 0.02em;
    margin-top: 2rem;
}

.brand-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 3rem;
}

.brand-image-container div{
    flex: 1;
}

@media only screen and (max-width: 1100px) {
    .brands-wrapper{
        width: 80%;
    }
}
